@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 justify-content-end">
        <a class="btn btn-success" href="https://nuget.org/packages/DotNetForce" target="_blank"><i class="fa fa-download fa-lg"></i> Download</a>
        <a class="btn btn-primary ml-2" href="https://github.com/ste80/DotNetForce" target="_blank"><i class="fa fa-github fa-lg"></i> Source code</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
